<table st-pipe="getTransfers" st-table="data.pageData.transfers" class="table table-bordered table-hover transfer-table">
    <thead>
        <tr class="common-table-thead">
            <th>
                <input ng-click="switchSelectAll()" type="checkbox">
            </th>
            <th ng-click="sortBy('transferNumber')">转运单号
                <span class="sortorder" ng-show="propertyName === 'transferNumber'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('organInfo.segNumber')">器官段号
                <span class="sortorder" ng-show="propertyName === 'organInfo.segNumber'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('boxInfo.deviceId')">转运箱编号
                <span class="sortorder" ng-show="propertyName === 'boxInfo.deviceId'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('organInfo.type')">器官种类
                <span class="sortorder" ng-show="propertyName === 'organInfo.type'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('organCount')">数量
                <span class="sortorder" ng-show="propertyName === 'organCount'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('transferPersonInfo.name')">转运人
                <span class="sortorder" ng-show="propertyName === 'transferPersonInfo.name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('fromCity')">转运起始地
                <span class="sortorder" ng-show="propertyName === 'fromCity'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('toHospitalInfo.name')">转运目的地
                <span class="sortorder" ng-show="propertyName === 'toHospitalInfo.name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('transfer.startAt')">转运日期
                <span class="sortorder" ng-show="propertyName === 'transfer.startAt'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
    </thead>
    <tbody ng-show="!data.pagination.isLoading">
        <tr ng-click="pickTransfer(transfer)" ng-repeat="transfer in data.pageData.transfers | orderBy:propertyName:reverse" style="cursor: pointer;">
            <td ng-click="checkTransfer($event, $index)">
                <input ng-model="transfer.checked" type="checkbox">
            </td>
            <td><span ng-bind="transfer.transferNumber"></span></td>
            <td><span ng-bind="transfer.organInfo.segNumber"></span></td>
            <td><span ng-bind="transfer.boxInfo.deviceId"></span></td>
            <td><span ng-bind="transfer.organInfo.type"></span> </td>
            <td><span ng-bind="transfer.organCount"></span></td>
            <td><span ng-bind="transfer.transferPersonInfo.name"></span></td>
            <td><span ng-bind="transfer.fromCity"></span></td>
            <td><span ng-bind="transfer.toHospitalInfo.name"></span></td>
            <td><span ng-bind="getDateString(transfer.startAt)"></span></td>
        </tr>
    </tbody>
    <tbody ng-show="data.pagination.isLoading">
    <tr>
        <td colspan="9" class="text-center">加载中 ... </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td id="transferTablePagination" colspan="9" class="text-center" st-pagination="" st-items-by-page="data.pagination.maxSize" st-displayed-pages="data.pageData.displayedPages">
        </td>
    </tr>
    </tfoot>
</table>
</div>