<div class="modal-content">
    <div class="transbox-modal">
        <div class="transbox-modal-header">
            <div>
                <span class="transbox-blue-color">实时信息详情</span>
                <button ng-click="modalCheckBasicInfo()" type="button"
                        class="btn btn-default btn-blue-solid" id="baseInfo">基本信息
                </button>
                <button ng-click="modalCheckDataInfo()" type="button" class="btn btn-default"
                        id="sensorInfo">传感数据
                </button>
                <button ng-click="$dismiss()"
                        class="btn btn-default transbox-btn-size transbox-btn-bordered">确定
                </button>
            </div>
            <hr style="border : 1px dashed #e7e7e7;"/>
        </div>
        <div class="transbox-modal-body">

            <div class="row">
                <div ng-if="data.modalPageIndex === 0" class="col-sm-12 col-md-12 col-lg-12"
                     style="text-align: center;">
                    <div style="text-align: center;line-height: 40px" ng-show="!info.boxInfo">
                        加载中 ...
                    </div>
                    <div ng-show="info.boxInfo">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>箱号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.boxInfo.deviceId"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官段号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organInfo.segNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官类型</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organInfo.type"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organCount"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>血型</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organInfo.bloodType"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>血液样本数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organInfo.bloodSampleCount"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>组织样本数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.organInfo.organizationSampleCount"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>获取时间</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.getOrganAt"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运单号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.transferNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运起始地</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.fromCity"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运目的地</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.toHospitalInfo.name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.tracfficType"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>航班/车号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.tracfficNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运人</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.transferPersonInfo.name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.transferPersonInfo.phone"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>获取组织</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.opoInfo.name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系人</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.opoInfo.contactPerson"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.opoInfo.contactPhone"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>开箱密码</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="info.boxPin"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="data.modalPageIndex === 1" class="col-sm-12 col-md-12 col-lg-12">
                    <!--<div style="text-align: center;line-height: 40px"-->
                    <!--ng-show="info.records.length = 0">-->
                    <!--本条转运暂无记录，请稍后查看。-->
                    <!--</div>-->

                    <div full-page options="mainOptions">
                        <div class="section">
                            <!--page1-->

                            <div style="padding: 15px;height: 430px;">
                                <div>
                                    <span class="way-span">最高温度:</span>
                                    <span class="way-span-color"
                                          ng-class="data.temperature.max >=1 && data.temperature.max<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="data.temperature.max"></span>
                                    <span class="way-span">最高湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="data.humidity.max"></span>
                                </div>
                                <div>
                                    <span class="way-span">最低温度:</span>
                                    <span ng-class="data.temperature.min >=1 && data.temperature.min<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="data.temperature.min"></span>
                                    <span class="way-span">最低湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="data.humidity.min"></span>
                                </div>

                                <div>
                                    <span class="way-span">平均温度:</span>
                                    <span ng-class="info.records[info.records.length-1].avgTemperature >=1 && info.records[info.records.length-1].avgTemperature<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="info.records[info.records.length-1].avgTemperature?
                                          info.records[info.records.length-1].avgTemperature+'℃':''"></span>
                                    <span class="way-span">平均湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="data.humidity.avg?data.humidity.avg : ''"></span>
                                </div>

                                <div style="height: 1px;width: 100%;background: #D9D9D9;margin-bottom: 15px;margin-top: 15px;float: right"></div>

                                <div>
                                    <span class="way-span">碰撞次数:</span>
                                    <span ng-class="data.collisionData.length > 0? 'way-span-color-warning' : 'way-span-color'"
                                          ng-bind="data.collisionData.length == 0? '0次' : data.collisionData.length+'次'"></span>
                                    <span class="way-span">开箱次数:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="data.openData.length == 0? '0次' : data.openData.length+'次'"></span>
                                </div>
                                <div>
                                    <span class="way-span">当前位置:</span>
                                    <span class="way-span-color"
                                          ng-bind="info.records[info.records.length-1].currentCity"></span>
                                    <span class="way-span">剩余距离:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="info.records[info.records.length-1].distance"></span>
                                </div>
                                <div>
                                    <span class="way-span">剩余电量:</span>
                                    <span class="way-span-color"
                                          ng-bind="info.records[info.records.length-1].power"></span>
                                    <span class="way-span">消耗电量:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="info.records[info.records.length-1].expendPower"></span>
                                </div>
                                <div>
                                    <span class="way-span">开始时间:</span>
                                    <span class="way-span-color" ng-bind="info.startAtShow"></span>
                                    <span class="way-span">持续时间:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="info.records[info.records.length-1].duration"></span>
                                </div>

                            </div>
                        </div>
                        <div class="section">

                            <!--page2 温度-->

                            <div style="padding: 15px">
                                <div style="text-align: center">
                        <span class="span-left">最高温度
                        </span>
                                    <span class="span-middle">最低温度
                        </span>
                                    <span class="span-right">平均温度
                        </span>
                                </div>

                                <div style="text-align: center">
                        <span class="span-left" ng-bind="data.temperature.max"
                              ng-class="data.temperature.max >=1 && data.temperature.max<=4 ?
                               'temp-color' : 'temp-color-warning'">
                        </span>
                                    <span class="span-middle" ng-bind="data.temperature.min"
                                          ng-class="data.temperature.min >=1 && data.temperature.min<=4 ?
                               'temp-color' : 'temp-color-warning'">
                        </span>
                                    <span class="span-right"
                                          ng-class="info.records[info.records.length-1].avgTemperature >=1 && info.records[info.records.length-1].avgTemperature<=4 ?
                               'temp-color' : 'temp-color-warning'"
                                          ng-bind="info.records[info.records.length-1].avgTemperature?info.records[info.records.length-1].avgTemperature+'℃':''">
                        </span>
                                </div>

                                <div class="onway-morris-content">
                                    <div class="ms-title">温度监控显示（℃）</div>
                                    <div
                                            line-chart
                                            line-data='lineData'
                                            line-xkey='y'
                                            line-ykeys='["a"]'
                                            line-labels='["当前"]'
                                            line-colors='colors'
                                            line-date-format="initDate">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="section">

                            <!--page3 适度-->

                            <div style="padding: 15px">
                                <div style="text-align: center">
                        <span class="span-left">最高湿度
                        </span>
                                    <span class="span-middle">最低湿度
                        </span>
                                    <span class="span-right">平均湿度
                        </span>
                                </div>

                                <div style="text-align: center">
                        <span class="span-left color-blue" ng-bind="data.humidity.max">
                        </span>
                                    <span class="span-middle color-blue"
                                          ng-bind="data.humidity.min?data.humidity.min:''">
                        </span>
                                    <span class="span-right color-blue" ng-bind="data.humidity.avg">
                        </span>
                                </div>

                                <div class="onway-morris-content">
                                    <div class="ms-title">湿度监控显示（%）</div>
                                    <div
                                            line-chart
                                            line-data='lineModerationData'
                                            line-xkey='y'
                                            line-ykeys='["a"]'
                                            line-labels='["当前(%)"]'
                                            line-colors='colors'
                                            line-date-format="initDate">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="section">
                            <!--page4-->

                            <!--<div style="padding: 15px;height: 100%">-->
                            <div style="padding: 15px;height: 450px">

                                <div>
                        <span class="way-span-weight">当前位置:
                            <span class="color-blue"
                                  ng-bind="info.records[info.records.length-1].currentCity"></span>
                        </span>
                                    <span class="way-span-weight-float">剩余距离:
                            <span class="color-blue"
                                  ng-bind="info.records[info.records.length-1].distance"></span>
                        </span>
                                </div>

                                <div id="map"
                                     style="height: calc(100% - 70px);width: inherit"></div>

                                <script type="text/javascript">
                                    var mapObj;
                                    var recordData;

                                    var scope = angular.element($("#map")).scope();
                                    var data = scope.info;
                                    if (data) {
                                        recordData = data.records;

                                        if (recordData.length > 0) {

                                            function mapInit() {
                                                for (var i = 0; i < recordData.length; i++) {
                                                    var item = recordData[i];
                                                    if (item.longitude && item.latitude) {
                                                        mapObj = new AMap.Map('map', {
                                                            dragEnable: false,
                                                            zoomEnable: false,
                                                            zoom: 10,
                                                            center: [item.longitude, item.latitude]
                                                        });
                                                        AMap.event.addListener(mapObj, "complete", completeEventHandler);

                                                        return;
                                                    }
                                                }
                                            }

                                            mapInit();

                                            function completeEventHandler() {
                                                lineArr = new Array();

                                                for (var i = 0; i < recordData.length; i++) {
                                                    var item = recordData[i];
                                                    if (item.longitude && item.latitude) {
                                                        lineArr.push(new AMap.LngLat(item.longitude, item.latitude));

                                                        marker = new AMap.Marker({
                                                            map: mapObj,
                                                            position: new AMap.LngLat(item.longitude, item.latitude),//基点位置
                                                            title: item.temperature
                                                        });
                                                    }
                                                }

                                                var polyline = new AMap.Polyline({
                                                    map: mapObj,
                                                    path: lineArr,
                                                    strokeColor: "#379DF2",//线颜色
                                                    strokeOpacity: 1,//线透明度
                                                    strokeWeight: 3,//线宽
                                                    strokeStyle: "solid"//线样式
                                                });
                                                mapObj.setFitView();

                                            }

                                        }
                                    }

                                </script>

                            </div>

                        </div>
                        <div class="section">
                            <!--page5-->

                            <div style="padding: 15px">

                                <div>
                        <span class="way-span-weight">开箱次数:
                            <span class="color-blue"
                                  ng-bind="data.openData.length == 0? '0次' : data.openData.length+'次'"></span>
                        </span>
                                    <span class="way-span-weight-float">碰撞次数:
                            <span class="color-blue"
                                  ng-class="data.collisionData.length > 0? 'temp-color-warning' : 'temp-color'"
                                  ng-bind="data.collisionData.length == 0? '0次' : data.collisionData.length+'次'"></span>
                        </span>
                                </div>

                                <div class="onway-morris-content" style="padding: 10px;">
                                    <div>
                                        <span class="crash-span-weight">开箱时间</span>
                                        <span class="crash-span-weight-float">碰撞时间</span>
                                    </div>

                                    <div style="border-top: 1px #D9D9D9 solid"
                                         ng-repeat="info in data.crashData">
                            <span class="crash-span-weight"
                                  ng-bind="getShowtime(info.oInfo)"></span>
                                        <span class="crash-span-weight-float"
                                              ng-bind="getShowtime(info.cInfo)"></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>